@font-face {
  font-family: "Barlow Condensed";
  src: url("./assets/fonts/Barlow_Condensed/BarlowCondensed-Regular.ttf")
  format("truetype");
  font-weight: 400
}

@font-face {
  font-family: "Bellefair";
  src: url("./assets/fonts/Bellefair/Bellefair-Regular.ttf")
  format("truetype");
  font-weight: 400
}


:root {
  --animation-base-duration: 0.8s;
  --animation-base-delay: 0.1s;
}

@tailwind base;
@tailwind components;
@tailwind utilities;


@layer utilities{

    .fade-enter {
      opacity: 0;
      transition: opacity 0.3s ease-in-out;
    }
  
    .fade-enter-active {
      opacity: 1;
    }
  
    .fade-exit {
      opacity: 1;
      transition: opacity 0.3s ease-in-out;
    }
  
    .fade-exit-active {
      opacity: 0;
    }

    .masking {
      mask-image: linear-gradient(#d9d9d9 77%, transparent 100%);
    }
    .masking-none{
      mask-image: none;
    }

    .blur-bg {
      @apply bg-blur backdrop-blur;
    }


}

@keyframes fade-in-up {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes outline-pulse {
  0% {
    outline-width: 0px;
    outline-color: rgba(255, 255, 255, 0.1);
  }
  50% {
    outline-width: 88px;
    outline-color: rgba(255, 255, 255, 0.1);
  }
  100% {
    outline-width: 0px;
    outline-color: rgba(255, 255, 255, 0);
  }
}

@keyframes fade-in-right {
  from {
    opacity: 0;
    transform: translateX(-20px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

@layer utilities{

  .animate-fade-in-up-1 {
    animation: fade-in-up var(--animation-base-duration) ease-out forwards;
    animation-delay: var(--animation-base-delay);
  }
  .animate-fade-in-up-2 {
    animation: fade-in-up calc(var(--animation-base-duration) * 1.5) ease-out forwards;
    animation-delay: calc(var(--animation-base-delay) * 2);
  }
  .animate-fade-in-up-3 {
    animation: fade-in-up calc(var(--animation-base-duration) * 2) ease-out forwards;
    animation-delay: calc(var(--animation-base-delay) * 3);
  }

  .animate-fade-in-right-1 {
    animation: fade-in-right var(--animation-base-duration) ease-out forwards;
    animation-delay: var(--animation-base-delay);
  }

  .animate-fade-in-right-2 {
    animation: fade-in-right calc(var(--animation-base-duration) * 1.5) ease-out forwards;
    animation-delay: calc(var(--animation-base-delay) * 2);
  }

  .animate-fade-in-right-3 {
    animation: fade-in-right calc(var(--animation-base-duration) * 2) ease-out forwards;
    animation-delay: calc(var(--animation-base-delay) * 3);
  }

  .animate-outline-pulse {
    animation: outline-pulse calc(var(--animation-base-duration) * 2.5) ease-out none;
    animation-delay: calc(var(--animation-base-delay) * 20);
  }
}

@layer components {
    .description{
      @apply leading-[1.8] text-blue-300 text-center text-[15px] md:text-[16px] lg:text-lg lg:text-start font-barlow;
    }

    .animate-fade-in-1 {
      @apply opacity-0 animate-fade-in-up-1 lg:animate-fade-in-right-1;
    }

    .animate-fade-in-2 {
      @apply opacity-0 animate-fade-in-up-2 lg:animate-fade-in-right-2;
    }

    .animate-fade-in-3 {
      @apply opacity-0 animate-fade-in-up-3 lg:animate-fade-in-right-3;
    }

}

